* {
    box-sizing: border-box;
}

html{
    // allows to convert rem sizes to base 10 conversion for easy comparison
    font-size: 62.5%;
}

body{
    color: $dark-grey;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

button{
    cursor: pointer;
}

.is-active{
    font-weight: bold;
}


